ADMIN_BASE_URL=https://admin.calibee.vn
ADMIN_EMAIL=
ADMIN_PASSWORD=

BOOKING_SERVICE_MODE=fixed
BOOKING_SERVICE=basic_cleaning
CUSTOMER_QUERY=CUS-1 | Calibee Support |
UPDATE_BOOKING_STATUS=false
CALCULATE_ONLY=false
TEST_TIMEOUT_MS=300000
BOOKING_TIME_MODE=random
BOOKING_MIN_DURATION_HOURS=2
BOOKING_MAX_DURATION_HOURS=8
# Only used when BOOKING_TIME_MODE=fixed
# BOOKING_START_TIME=09:00
# BOOKING_END_TIME=11:00
