ADMIN_BASE_URL=https://admin.calibee.vn
ADMIN_EMAIL=
ADMIN_PASSWORD=

BOOKING_SERVICE_MODE=random
BOOKING_SERVICE=random
CUSTOMER_QUERY=CUS-1 | Calibee Support |
UPDATE_BOOKING_STATUS=false
CALCULATE_ONLY=false
TEST_TIMEOUT_MS=300000
